:root {
    --color-beige : #f6f5ee;
    --color-font-black:#333;
    --color-font-light-black:#555;
    --color-font-green:#669900;
    --temp-border:solid 0px black;
    --font-family:noraml Avenir, Arial, georgia;
}

* {
    list-style: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    color: var(--color-font-black);
    font-family: var(--font-family);
}

/* header */
header {
    background: var(--color-beige);
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
} 

header .wrap {
    border: var(--temp-border);
    height: 110px;
    width: 1100px;
    margin: 0px auto;
    position: relative;
}

header .wrap .inner {
    border: var(--temp-border);
}

header .wrap .inner .logo img{
    position: absolute;
    top: 17px;
    width: 120px;
    height: 120px;
}

header .wrap .inner .menu_top_nav {
    position: absolute;
    right: 70px;
    top: 20px;
}

header .wrap .inner .menu_top_nav ul li{
    float: left;
    text-align: center;
    color: var(--color-font-light-black);
    font-size: 12px;
    height: 20px;
    width: 54px;
    border: var(--temp-border);
}

header .wrap .inner .menu_top_nav ul li a{
    display: block;
}

header .wrap .inner .menu_top_nav ul li a:hover{
    text-decoration: underline;
}

header .sub {
    position: absolute;
    bottom: 0px;
    right: 50px;
    border: var(--temp-border);

    display: flex;
    justify-content: center; /* */
}

header .sub ul {
    width: 737px;
    display: flex;
    justify-content: space-between; /**/
    border: var(--temp-border);
}

header .sub ul li {
    text-align: center;
    flex: auto;
    float: left; /**/
    position: relative;
}

.sub ul li ul {
    display: none;
    position: absolute;
    width: 100px;
    
    
}

.sub ul li:hover ul {
    display: block;
}

header .sub ul li a{
    display: block;
    text-align: none;
    border: var(--temp-border);
    text-transform: uppercase; /* 모든 글자 대문자*/
    font-size: 14px;
    padding-top: 100x;
    height: 30px;
    transition: all 0.3s; /**/
    line-height: 30px;
}

header .sub ul li a:hover{
    background-color: #9ea88e;
    color: black;
}

header .sub .sub_menu li a:hover{
    background-color: rgb(253, 253, 253);
    opacity: 0.7;
    color: #959292;
}

/* 회원가입*/


.red_txt{
    color:#ee7272;
}
.blind {
    display:block;
    overflow:hidden;
    position:absolute;
    left:0;
    top:-5000px
}
.wrap1{
    max-width:700px; 
    margin: 0 auto;
    height: 200px;
}
.wrap1.wd668{
    max-width:628px;
    margin-top: 250px;
}
.wrap1.wd668.line{
    border:1px solid #ececec;
    padding:30px 20px;
}
.container{
    width:100%;
}
.sub_tit_txt{
    margin:80px 0px 20px 20px;
     color: #2f2f2f; 
     font-size: 25px;
     
    }
.wrap.wd668.line .sub_tit_txt{
    margin:0px 0 20px 20px;
 }
.con_term .term_txt{
    border:1px solid #ececec;
    padding:30px;
    height:210px;
    overflow-y: auto;
    margin:0 0 15px;
}
.con_term .term_txt ul li,.con_term .term_txt p ,.con_term .term_txt div{
    color:#818181;
    font-size:12px;
    line-height:17px;
    margin: 0 0 15px;
}
.left_margin{
    margin:0 0 0 20px;
}
.con_term .term_txt div.txt_bold{
    font-weight: bold;
    margin:0 0 25px;
}
.btn_wrap{
    text-align:center;
    margin:40px 0 30px;
}
.btn_wrap a{
    color: #fff;
    background-color: #393939;
    font-weight: bold;
    padding: 10px;
    height: 30px;
    line-height: 30px;
    width: 168px;
    display: block;
    text-align: center;
    margin: 0 auto;
}
.btn_wrap a.wide{
    width:587px;
    margin: 0 0 0 20px;
}
.find_txt ul li{
    color:#9a9a9a;
    font-size:13px;
    text-align:center;
    line-height:17px; 
    margin:0 0 20px;
}
.form_txtInput .checkbox_wrap {
    position: relative;
    padding: 5px;
    text-align: right;
}
.form_txtInput .checkbox_wrap input[type="checkbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.form_txtInput .checkbox_wrap input[type="checkbox"] + label {
    display: inline-block;
    line-height:14px;
    position: relative;
    padding-left: 20px;
    font-size: 13px;
    color: #818181;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.form_txtInput .checkbox_wrap input[type="checkbox"] + label:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    width: 12px;
    height: 12px;
    text-align: center;
    background: #fff;
    border: 1px solid #c2c2c2;
}
.form_txtInput .checkbox_wrap input[type="checkbox"] + label:active:before, .checkbox_wrap input[type="checkbox"]:checked + label:active:before {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.form_txtInput .checkbox_wrap input[type="checkbox"]:checked + label:before {
    background: #fff;
    border-color: #ddd;
}
.form_txtInput .checkbox_wrap input[type="checkbox"]:checked + label:after {
    content: '✓';
    color: #0094ff;
    position: absolute;
    top:0px;
    left:2px;
    width: 7px;
    height: 7px;
    font-size: 13px;
    font-weight: bold;
}
.exTxt{
    font-size:14px;
    color:#9a9a9a;
    display: block;
    margin:0 0 45px 20px;
}
.join_form{
    width:100%;
    max-width:668px;
}
.join_form table {
    border-spacing: 0;
    margin:0;
    padding:0;
    border:0;
    width:100%;
    }
.join_form table input{ 
    border:1px solid #ececec;
    font-size:14px;
    color:#4c4c4c;
    height:35px;
    padding:10px;
    width:100%;
    float:left;
}
.join_form table input.email{
    width:162px;
     display: inline-block;
    }
.join_form table input.email2{
    width:192px;
}
.join_form.idpwFind table input{
    width:519px;
}
.join_form.idpwFind table input.email{
    width:223px;
}
.join_form.idpwFind table input.email2{
    width:263px
}
.join_form.idpwFind table input.phone{
    width:182px;
    margin: 0 12px 0 11px;
}
.join_form.idpwFind table input.phone2{
    width:182px;
}
.join_form table input.send_number{
    width:383px;
}
.join_form table th span{
    color:#404040;
    font-size:14px;
    display:inline-block;
    position:relative;
    padding:0 10px 0 0;
    text-indent:20px;
}
.join_form table th{
    text-align:left;
}
.join_form table td{
    padding:6px 0;
    position: relative;
}
.join_form table th span:after{
    content:'*';
    font-size:13px;
    color:#f95427;
    position:absolute;
    top:0;
    right:0px;
}
.join_form.idpwFind table th span:after{
    content:none;
}
.join_form table td a.btn_confirm{
    display: inline-block;
    float:left;
    width:115px;
    height:48px;
    margin:5px 0 0 0px;
    border:1px solid #cfcfcf;
    background:#dedede;
    color:#626262;
    text-align:center;
    vertical-align: top;
    line-height: 50px;
}
.join_form.idpwFind table td select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.join_form.idpwFind table td select::-ms-expand { 
    display: none;
}
.join_form.idpwFind table td  tr.phone td select {
    text-align: center;
    text-indent: 10px;
}
.join_form.idpwFind table tr.email input:after,.mar10:after,  .join_form.idpwFind table td select:after,.join_form table td a.btn_confirm:after{
    content:'';
    display: block;
    clear:both;
}
.agree_wrap{
    margin:36px 0 0;
}
.agree_wrap .checkbox_wrap{
    text-align:left;
}
::placeholder {
    color: #c4c4c4;
    opacity: 1;
}
:-ms-input-placeholder {
    color: #c4c4c4!important;
}
::-ms-input-placeholder {
    color: #c4c4c4!important;
}
.mar27{
    margin:27px 0 0;
}
.mar10{
    margin:14px 5px 0 10px;
    display: inline-block;
    padding:0;
    float:left;
}
.exform_txt{
    padding:12px 0 19px 0;
    text-align:right;
    color:#9a9a9a;
    font-size:13px;
    border-bottom:1px solid #ececec;
}
.exform_txt span{
    display: inline-block;
    position:relative;
    padding-left:10px
}
.exform_txt span:after{
    content:'*';
    position:absolute;
    left:0;
    top:0;
    color:#f95427;
    font-size: 13px;
    font-weight: bold;
}
.explan_txt {
    margin:3px 0 0 22px;
}
.explan_txt li{
    color:#b2b2b2;
    font-size:13px;
    line-height:17px;
}
.popWrap{
    border:1px solid #ececec;
    padding:30px;
    max-width:400px;
    width:100%;
    margin:30px auto 0;
    display: none;
    position: absolute;
    top:0;
    left:50%;
    transform: translateX(-50%);
    background: #fff;z-index:5;
}
.popWrap.is-open{
    display: block;
}
.popWrap .pop_txt_con .pop_exTxt{
    font-size:14px;
    color:#9a9a9a;
    line-height:20px;
}
.popWrap .pop_txt_con .pop_exTxt span{
    color:#254ee9
}
.popWrap .pop_btnWrap{
    margin:30px 0 0;
}
.popWrap .pop_btnWrap a{
    color: #fff;
    background-color: #4380ce;
    font-weight: bold;
    padding: 10px;
    height: 22px;
    line-height: 22px;
    width: 103px;
    display: block;
    text-align: center;
}
.join_form table input.send_number::placeholder{
    text-align:right;
}
.join_form table input.send_number:-ms-input-placeholder {
    text-align:right;
}
.join_form table input.send_number::-ms-input-placeholder {
    text-align:right;
}
.overlayer {  
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}
.overlayer.is-open{ 
    display: block;
}
@media ( max-width: 1023px ) {
  .wrap1{margin: 30px auto;}
  .wrap1,.wrap1.wd668.line{max-width:80vw;}
  .wrap1.wd668{width:90vw;}
  .join_form{max-width:90vw;}
  .join_form table th span{text-indent: 0;font-size:13px;}
  .join_form table{width:100%;}
  .join_form table input{ border:1px solid #ececec;font-size:14px;color:#4c4c4c; height:37px; padding:10px; width:100%;}
  .join_form table input.email{width:30%; display: inline-block;}
  .join_form table input.email2{width:60%;}
  .join_form.idpwFind table input{width:100%;}
  .join_form.idpwFind table tr.email input{float:left;}
  .mar10{margin:5px 2% 0 2%; float:left;}
  .join_form.idpwFind table input.email{width:36%;}
  .join_form.idpwFind table input.email2{width:53%}
  .join_form.idpwFind table input.phone{width:30%;margin:0 4% 0 4%;}
  .join_form.idpwFind table input.phone2{width:31%;}
  .join_form table input.send_number{width: 53%; }
  .exTxt{margin:0 0 25px 0px}
  .wrap.wd668.line .sub_tit_txt,.wrap .sub_tit_txt{margin:0 0 10px 0;}
  .btn_wrap a,.btn_wrap a.wide{width:auto;margin:0;}
  .btn_wrap{overflow: hidden;}
  .join_form.idpwFind table td select{width:30%;height:37px; float:left;}
  .join_form.idpwFind table tr.email input:after,.mar10:after,  .join_form.idpwFind table td select:after{content:'';display: block;clear:both;}
  .popWrap{right: auto; max-width: 80vw; margin: 30px auto 0; left: 50%; transform: translateX(-50%);}
  .join_form table td a.btn_confirm{width: 100px; height: 35px;line-height: 35px; font-size: 12px;margin:5px 0 0 ;}
  .join_form table input.send_number + a{margin:0 0 0 5px;}
}

















.up_button {
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 1;
}

.up_button img {
    width: 29px;
    height: 29px;
    opacity: 0.8;
}
.kakao {
    position: fixed;
    bottom: 88px;
    right: 20px;
    z-index: 1;
}

.kakao img {
    width: 32px;
    height: 32px;
   
}

footer {
    width: 100%;
    height: 110px;
    margin-top: 300px;
    background-color: rgb(121, 112, 92);
    padding: 100px 0px;
    font: var(--font-family);  
   
    /* footer 하단 고정 */
    position: relative;
    transform: translateY(220%);
}

footer .footer_wrap {
    display: fixed;
}

footer .footer_wrap .provision {
   width: 100%;
   height: 100%;
   border-bottom: 1px solid #3a3936;
   padding-bottom: 15px;
}

/*
footer .footer_wrap .provision::after {
    content: "";
    display: block;
    clear: both;
}*/

footer .footer_wrap .provision li {
    display: inline-block;
    margin-left: 40px ;
}

.company_info {
    display: inline;
    float: left;
    margin-left: 61%;
    margin-top: 20px;
}

.company_info .company_name {
    font: 19px bold;
}

.company_info li {
    font-size: 15px;
}

.company_info .copyright {
    font-size: 15px;
    color: rgb(78, 78, 60);
}
.company_center {
    float: right ;
    margin-right: 100px;
    margin-top: 20px;
   
 }
 
 .company_center .CS {
    font: 19px bold;
 }

 .company_center .number {
     font-size: 17px;
 }

 .company_center li {
     font-size: 12px;
 }

















