:root {
    --color-beige : #f6f5ee;
    --color-font-black:#333;
    --color-font-light-black:#555;
    --color-font-green:#669900;
    --temp-border:solid 0px black;
    --font-family:noraml Avenir, Arial, georgia;
}

* {
    list-style: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    color: var(--color-font-black);
    font-family: var(--font-family);
}

main section .wrap_outer {
    display: fixed;
    text-align: center;
    margin-top: 200px;
}

main section .wrap_outer h1 {
    font: bold 22px/1;
    color: rgb(77, 75, 75);
    margin-top: 150px;
    margin-bottom: 15px;
}

